*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background:#b2b2b2;
    display: flex;
    justify-content: space-between;
    
    
}

.header-sec1{
    width: 70%;
}

.header-sec1 h1{
    font-size: 50px;
}

.header-sec2{
    width: 30%;
}

header img{
    width: 50%;
}