*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

header{
    background:#b2b2b2;
    display: flex;
    justify-content:center;
    align-items: center;
    border-bottom: #3a3939 solid 15px;
}

.header-sec1{
    width: 60%;
    text-align: center;
}

.header-sec1 h1{
    font-size: 80px;

}

.texto-borde {
    -webkit-text-stroke: 3px rgb(236, 235, 235);
    /* color: transparent; */
  }

.header-sec1 h2{
    font-size: 35px;
}

.header-sec2{
    width: 40%;
}

header img{
    width: 60%;
}

.menu{
    display: flex;
    justify-content: space-around;
    background-color: #ffbd16;
    font-size: 30px;
    padding: 30px 0;
    
}

.menu a{
    color: black;
}

.linea{
    border-right: white solid 2px;
}

.menu ul{
    list-style: none;
    font-weight: bold;
}

main{
    display: flex;
    
}

aside{
    width: 30%;
    margin: 15px 15px 0 0;
        
}

aside div{
    text-align: center;
}

section{
    width: 70%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

section article{
    background: rgb(161, 161, 161);
    text-align: center;
    width: 50%;
    border-radius: 20px 20px 0 0;
}

section h5{
    text-align: justify;
    padding: 0 15px 15px 15px;
}

article img{
    width: 200px;
    height: 150px;
    padding: 15px 0;
}

form{
    background: #b2b2b2;
    border-radius: 20px 20px 0 0;
    margin-bottom: 15px;
}

form p{
    background: #3a3939;
    font-weight: bold;
    font-size: 25px;
    color: rgb(196, 190, 190);
    padding: 10px 0;
    border-radius: 20px 20px 0 0;
}

form input{
    margin: 10px 0;
}

form label{
    font-size: 20px;
}

form input[type="submit"]{
    background:#ffbd16 ;
    font-size: 20px;
    padding: 5px 15px;
}

.bancoweb p{
    color: #ffbd16;
    font-weight: bold;
    font-style: italic;
    background: black;
    font-size: 20px;
    padding: 10px 0;
    
}

.bancoweb ul{
    background: #232323;
}

.bancoweb li{
    color: rgb(161, 161, 161);
    list-style: none;
    font-size: 18px;
    padding: 5px 0 3px 0;
}

article p{
    color: rgb(161, 161, 161);
    background: black;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 20px 20px 0 0;
}

footer{
    text-align: center;
    background: #3a3939;
    color: rgb(161, 161, 161) ;
    font-weight: bold;
    padding: 20px 0;
    margin-top: 15px;
}




